@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">Company List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-info" asp-controller="Company" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Company
            </a>
        </div>
    </div>
    <br />
    <div class="overflow-auto">
        <table id="dataTable2" class="table table-bordered table-hover" width="100%">
            <thead>
                <tr class="table-primary">
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Phone Number</th>
                    <th width="24%"></th>
                </tr>
            </thead>
        </table>
    </div>

</div>

@section Scripts{

    <script src="~/js/company.js"></script>

}