@{
    ViewData["Title"] = "About";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-info">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h3 class="text-info">Summary</h3>
            <div class="h5">
                <p>
                    This web application is the capstone project from&nbsp;
                    <a class="text-body" target="_blank"
                       href="https://www.udemy.com/course/complete-aspnet-core-21-course/">
                        The Complete ASP.NET Core MVC course &nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a> &nbsp; on Udemy. It's a demo e-commerce web app using N-tier architecture and
                    Repository Pattern. Stripe is used to process payments.&nbsp;&nbsp;
                    <a class="text-body" target="_blank"
                       href="https://github.com/isitt77/complete_dot_net_core">
                        GitHub repo &nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </p>
            </div>
            <br>
            <h3 class="text-info">Features Added</h3>
            <div class="h5">
                <p>
                    UX/UI assistance to provide you with a dummy credit card number and
                    simple instructions when placing orders. (&nbsp;
                    <a class="text-body" target="_blank" href="https://stripe.com/docs/terminal/references/testing#simulated-test-cards">
                        Here is a full list of Stripe's test numbers.&nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a>&nbsp;)
                </p>

                <p>
                    Light Mode / Dark Mode theme in the navbar. This will toggle between
                    two Bootstrap themes and will also be applied to third party pop-up
                    alerts.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-info">Register / Login</h3>
            <div class="h5">
                <p>
                    You can register by adding a name, email, and password. You don’t
                    need to use your real name or email, but you must use correct email format.
                </p>
                <p>
                    Password must be at least six characters, have one lowercase letter,
                    one uppercase letter, a numeral, and a non-alpha-numeric character.
                </p>
                <p>
                    You can also register using Facebook, LinkedIn, or Google.
                </p>
                <br />
                <p>
                    This app is hosted on Azure with PostgreSQL as the database.
                </p>
            </div>
            <br />

            <h4 class="text-info">Enjoy your pretend shopping!</h4>
        </div>
    </div>
</div>




