@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This web application is the capstone project from The Complete ASP.NET Core MVC course on Udemy. This is a demo e-commerce web app using N-tier architecture and Repository Pattern. Stripe is used to process payments. </p>
<br>
<h3>Features Added</h3>
<p>Because this is a demo app, I’ve added some UX/UI assistance that provides you with a dummy credit card number and simple instructions for when you place your order. </p>
<p>You can verify in Stripe’s documentation that it is one of their test numbers.</p>

<p>I’ve also created a Light Mode / Dark Mode theme you can toggle between on the main menu. This will switch between two Bootstrap themes and will also be applied to third party pop-up alerts.</p>
<br />
<h3>Register / Login</h3>
<p>You can register by adding a name, email, and password. You don’t need to use your real name or email, but you must use the correct email format. </p>
<p>Password must be at least six characters, have one lowercase letter, one uppercase letter, a numeral, and a non-alpha-numeric character.</p>
<p>If you like, you can also register using Facebook. If you do so, your password will not be stored in this web app’s database.</p>
<br />
<p>This app is hosted on Azure with PostgreSQL as the database.</p>
<br />
<h4>Enjoy your pretend shopping!</h4>


