@{
    ViewData["Title"] = "About";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-info">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h3 class="text-info">Summary</h3>
            <div class="h5">
                <p>
                    This web application is the capstone project from&nbsp;
                    <a class="text-body" target="_blank"
                       href="https://www.udemy.com/course/complete-aspnet-core-21-course/">
                        The Complete ASP.NET Core MVC course &nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a> &nbsp; on Udemy. It's a demo e-commerce web app using N-tier architecture and
                    Repository Pattern. Stripe is used to process payments.&nbsp;&nbsp;
                    <a class="text-body" target="_blank"
                       href="https://github.com/isitt77/complete_dot_net_core">
                        GitHub repo &nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </p>
            </div>
            <br>
            <h3 class="text-info">Features Added</h3>
            <div class="h5">
                <p>
                    UX/UI assistance to provide you with a dummy credit card number and
                    simple instructions when placing orders. (&nbsp;
                    <a class="text-body" target="_blank" href="https://stripe.com/docs/terminal/references/testing#simulated-test-cards">
                        Here is a full list of Stripe's test numbers.&nbsp;&nbsp;<i class="bi bi-box-arrow-up-right"></i>
                    </a>&nbsp;)
                </p>

                <p>
                    Light Mode / Dark Mode theme in the navbar. This will toggle between
                    two Bootstrap themes and will also be applied to third party pop-up
                    alerts.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-info">Register / Login</h3>
            <div class="h5">
                <p>
                    You can register by adding a name, email, and password. You don’t
                    need to use your real name or email, but you must use correct email format.
                </p>
                <p>
                    Password must be at least six characters, have one lowercase letter,
                    one uppercase letter, a numeral, and a non-alpha-numeric character.
                </p>
                <p>
                    You can also register using Facebook or LinkedIn.
                </p>
                <br />
                <p>
                    This app is hosted on Azure with PostgreSQL as the database.
                </p>
            </div>
            <br />

            <h4 class="text-info">Enjoy your pretend shopping!</h4>
        </div>
    </div>
</div>


@*<p>This web application is the capstone project from The Complete ASP.NET Core MVC course on Udemy. This is a demo e-commerce web app using N-tier architecture and Repository Pattern. Stripe is used to process payments. </p>
    <br>
    <h3>Features Added</h3>
    <p>Because this is a demo app, I’ve added some UX/UI assistance that provides you with a dummy credit card number and simple instructions for when you place your order. </p>
    <p>You can verify in Stripe’s documentation that it is one of their test numbers.</p>

    <p>I’ve also created a Light Mode / Dark Mode theme you can toggle between on the main menu. This will switch between two Bootstrap themes and will also be applied to third party pop-up alerts.</p>*@
<br />
@*<h3>Register / Login</h3>
    <p>You can register by adding a name, email, and password. You don’t need to use your real name or email, but you must use the correct email format. </p>
    <p>Password must be at least six characters, have one lowercase letter, one uppercase letter, a numeral, and a non-alpha-numeric character.</p>
    <p>If you like, you can also register using Facebook. If you do so, your password will not be stored in this web app’s database.</p>
    <br />
    <p>This app is hosted on Azure with PostgreSQL as the database.</p>
    <br />
    <h4>Enjoy your pretend shopping!</h4>*@


