@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (Product product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class=" col-12 p-1">
                    <div class="card bg-light">
                        <img src="@product.IamgeUrl"
                             class="card-img-top rounded"
                             aria-label="Placeholder: No Image"
                             style="max-width: 50%;" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

