@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-info" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" width="100%">
        <thead>
            <tr class="table-primary">
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category obj in Model)
            {
                <tr class="table-dark">
                    <td width="50%">
                        @obj.Name
                    </td>
                    <td width="30%">
                        @obj.DisplayOrder
                    </td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-warning" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i> &nbsp; Edit</a>
                    </td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash"></i> &nbsp; Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>