@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-info" asp-controller="Product" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" width="100%">
        <thead>
            <tr class="table-primary">
                <th>
                    Product Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product obj in Model)
            {
                <tr class="table-dark">
                    <td width="80%">
                        @obj.Title
                    </td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil"></i> &nbsp; Edit</a>
                    </td>
                    <td class="btn-group w-50%" role="button">
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash"></i> &nbsp; Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>